$color-bg-body: $near-white;
$color-border: $gray-light;
$color-link: $strong-cyan;
$color-link--hover: lighten($color-link, 10%);
$color-link--alt: $cornell-red;
$color-link--alt-hover: $cornell-red;

$color-heading: $cornell-red;
$color-heading-link: $cornell-red;
$color-heading-link--hover: $cornell-red;
$color-heading--alt: $gray;
$color-button: $strong-cyan;
$color-button--hover: lighten($color-button, 10%);

$color-caption: darken($gray-light, 15%);
$color-info-box: $blue-dark;
$color-border: $gray-lighter;
$color-footnote: yellow;

$color-branding--ilr: $strong-cyan;
$color-branding--aspen: $blue-dark;
$color-mobile-nav-bg: $blue-dark;
$color-footer-bg: $blue-darkest;
