$color-bg-body: $near-white;
$color-border: $gray-light;
$color-link: $strong-cyan;
$color-link--hover: lighten($color-link, 10%);
$color-link--alt: $red;
$color-link--alt-hover: $red;

$color-heading: $red;
$color-heading-link: $red;
$color-heading-link--hover: $red;
$color-heading--alt: $gray;
$color-button: $strong-cyan;
$color-button--hover: lighten($color-button, 10%);
$color-text: $gray;
$color-caption: darken($gray-light, 15%);
$color-info-box: $blue-dark;
$color-border: $gray-lighter;
$color-footnote: yellow;

$color-table-heading: $strong-cyan;
$color-data-source-tile: $blue-dark;
$color-data-source-tile--hover: $strong-cyan;
$color-branding--ilr: $strong-cyan;
$color-branding--aspen: $blue-dark;
$color-mobile-nav-bg: white;
$color-footer-bg: $blue-darkest;
$color-footer-text: $gray-lightest;
$color-bg-body-offset: darken($color-bg-body, 3%);
$color-breadcrumb: $color-heading--alt;
$color-breadcrumb--active: $color-heading;
