<div class="component component__plotly">
  <div class="plotly__iframe-wrapper" style="padding-bottom: {{ paddingTop }}%;">
    <iframe src="{{ iframe_src }}?autosize=True&modebar=false&link=false" class="plotly__iframe"></iframe>
    <a href="{{ plotly_url }}" class="plotly__image-url"><img src="{{ img_src }}" class="plotly__image" /></a>
  </div>
</div>
