@mixin img {
  height: auto;
  max-width: 100%;
}

@mixin fill-parent {
  display: block;
  width: 100%;
}

.figure {
  margin: 0;

  &--with-caption {
    .figcaption {
      @include type-scale(xs);
      @include padding-leader(0.5);

      color: $color-caption;
      padding-left: 5px;
    }
  }
}

.img,
.image__img {
  @include img;
}

.media__image {
  @include trailer(1);

  @include large {
    margin-left: -1rem;
  }

  .img {
    @include fill-parent;
  }
}
