.content-teaser {
  @include add-grid(12);
  @include add-gutter(1);
  @include clearfix;
  @include trailer(1);
  @include trailing-border(2px, 1);

  border-color: $color-border;
}

.content-teaser__title {
  @include heading-medium();
}

.content-teaser__img {
  @include img;
  @include fill-parent;
}

.content-teaser__date {
  @include type-scale(xs);
  @include trailer(0.5);
}

.content-teaser__body {
  @include trailer(0.5);
}

.content-teaser__link {
  @include link;
}

.content-teaser__button {
  @include button;
}

// Variations
.content-teaser--bg {
  background-color: $gray-lightest;
  padding: 1em;
}

.content-teaser--with-image {
  .content-teaser__img {
    @include trailer(1);

    @include medium {
      @include trailer(0);
      @include grid-span(4);
    }
  }

  .content-teaser__body,
  .content-teaser__date,
  .content-teaser__link {
    @include medium {
      @include grid-span(8, 5);
    }
  }
}
