.component__tableau {
  @include trailer(2);

  clear: both;

  @include xl {
    margin-right: -2rem;
  }

  @include breakpoint(1350px) {
    margin-right: -15%;
  }
}

.tableau__wrapper {
  @include clearfix;
  @include wrapper;
}
