.title__sub-nav {
  @include heading-small;
}

.sub-nav {
  border-top: 1px solid $color-border;

  .sub-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sub-menu__link {
    @include sub-menu-link;
  }
}
