<div class="hub-link">
  <div class="hub-link__bg-wrapper">
    <div class="hub-link__bg"></div>
  </div>
  <div class="hub-link__content">
    <h2 class="hub-link__title"><a href="{{ url }}">{{ title }}</a></h2>
    <p class="hub-link__subtitle">{{ subtitle }}</p>
  </div>
</div>
