.see-footnote {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  padding: 0.2em 0.3em;
  text-decoration: none;
  border: none;
  line-height: 2em;
  font-size: 12px;
  color: $color-link;

  &:focus,
  &:active,
  &:target {
    background-color: $color-footnote;
    text-decoration: none;
    border: none;
    outline: none;
  }
}

.footnotes {
  @include leader(0);
  @include trailer(2);
  @include leading-border(2px);

  border-color: $color-border;
}

.footnote {
  @include contain-text;

  display: none;

  &:focus,
  &:active,
  &:target {
    background-color: $color-footnote;
  }

  .footnotes--combined & {
    display: block;
  }

  a {
    color: $color-link;
  }
}

.footnote-label {
  padding: 0 0.5em;
  text-decoration: none;
  border: none;
  color: $color-link;

  &:focus,
  &:active,
  &:target {
    background-color: $color-footnote;
    text-decoration: none;
    border: none;
    outline: none;
  }
}
