.component__featured-promo {
  position: relative;

  @include medium {
    @include trailer(1);

    margin-left: $space;
    margin-right: $space;
  }

  @include large {
    @include trailer(2);

    margin-left: $space-double;
    margin-right: $space-double;
  }

  &__content {
    padding: 1.5rem;
    background: $color-bg-body-offset;

    @include large {
      position: absolute;
      right: -3rem;
      top: 20%;
      width: 50%;
    }

    @include xl {
      padding: 2rem;
    }
  }

  &__heading {
    @include heading-small; // @todo refactor this since ems are buggy
  }

  &__intro {
    font-size: 0.8rem;
  }

  &__link {
    @include button;
  }
}
