.data-source-teaser__wrapper {
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612%;
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;

  * {
    visibility: visible;
  }
}

.data-source-teaser__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-data-source-tile;
  transition: 0.4s;
  background-size: 200% auto;
  transform: skewY(-30deg) rotate(60deg);
  color: white;
  text-align: center;
  padding: 3rem;

  &:hover {
    background-position: right center;
    background-image: linear-gradient(to bottom right, $color-data-source-tile--hover 0%, $color-data-source-tile 20%, $color-data-source-tile--hover 100%);
    transform: scaleZ(42px);
  }
}

.data-source-teaser__name {
  @include center($absolute: true);

  margin-top: 0%;
  font-size: 2.5vmin;
  line-height: 1.2;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}
