<div class="data-source-teaser__wrapper">
  <div class="data-source-teaser__content">
    <h2 class="data-source-teaser__name"><a href="{{ data_source_path }}">{{ data_source_name }}</a></h2>

    {% if logo %}
      <div class="data-source-teaser__logo">
        <a class="data-source-teaser__link" href="{{ data_source_path }}'">
        {% include "@molecules/components/_image.twig" with {
          "img_src": logo,
          "img_alt": "Logo for #{data_source_name}"
        } %}
        </a>
      </div>
    {% endif %}
  </div>
</div>
