.node-type__data-source {
  @include trailer(2);
  @include add-grid(12);

  .data-source-parameter {
    @include trailer(2);
    @include grid-span(9);

    clear: left;
  }
}

.data-source-parameter__heading {
  @include heading-small($font-family: $font-body);
  @include trailing-border($width: 1px, $lines: 0.5);
  background: $color-data-source-tile;
  color: $white;
  font-weight: normal;
  line-height: 1;
  padding: 0.5rem 1rem;
}

.data-source__logo {
  max-width: 225px;

  .component__image {
    @include leader(1);
    @include trailer(1);

    margin-left: 0;

    @include large { // Create a content column off to the right
      position: absolute;
      width: 25%;
      right: 115%;
      top: 15px;
      margin: 0;
    }
  }
}

.data-source__tags {
  @include grid-span(3, 10);

  text-transform: capitalize;
  text-align: right;

  div:first-child > div:first-child {
    @include heading-small;
    @include alt-heading;
  }
}

// For the data sources view. Should be in its own file
#block-views-block-data-sources-block-1 {
  @include medium {
    @include add-grid(12);

    .bef-exposed-form {
      @include grid-span(4, 9);
    }

    .views-row {
      @include grid-span(8);

      clear: left;
    }
  }

  .views-row {
    @include trailing-border(1px, 0.5);
    @include leader(0.5);

    border-color: $color-border;

    a {
      @include heading-small;
    }
  }
}
