.pl-wrapper {
  @include add-grid(12);

  .js-toc-source {
    @include grid-span(9);
  }
}

.toc {
  background-color: white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 21px;
  display: none;

  @include large {
    display: block;
  }

  &--not-ready {
    display: none;
  }

  &--fixed {
    @include z(toc);

    position: fixed;
    top: 25px;
    width: inherit;

    .toolbar-fixed & {
      top: 25px + 39px;
    }

    .toolbar-fixed.toolbar-tray-open & {
      top: 25px + 79px;
    }
  }

  &--stuck-to-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  &__header {
    @include heading-small;
    @include alt-heading;
  }

  &__inner {
    max-height: 70vh;
    padding-left: 6px;
    overflow: auto;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding-left: 20px;
    list-style: none;
    position: relative;
    font-size: 1em;

    > a {
      text-decoration: none;
      margin-bottom: 14px;
      display: block;
      line-height: 19px;
      color: lighten($color-heading--alt, 10%);
    }

    &--active {
      &::before {
        content: '\21FE';
        display: inline-block;
        color: $color-link;
        position: absolute;
        top: -0.3rem;
        left: 0;
      }

      > a {
        color: $color-link;
      }
    }
  }
}
