.js-toc-source {
  @include clearfix;
}

.toc {
  background-color: white;
  border-top: 8px solid $color-info-box;
  padding: 16px;
  display: none;

  @include large {
    display: block;
    margin-top: $space-double;
  }

  &--not-ready {
    display: none;
  }

  &--fixed {
    @include z(toc);

    position: fixed;
    top: 0;
  }

  &__header {
    @include heading-small;
    @include alt-heading;
  }

  &__inner {
    max-height: 70vh;
    overflow: auto;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding-left: 20px;
    list-style: none;
    position: relative;
    font-size: 1em;

    > a {
      text-decoration: none;
      margin-bottom: 14px;
      padding-left: 5px;
      display: block;
      line-height: 19px;
      color: lighten($color-heading--alt, 10%);
    }

    &--active {
      &::before {
        content: url(/themes/custom/freelance/images/svg/hex--vertical.svg);
        display: inline-block;
        color: $color-link;
        position: absolute;
        top: -4px;
        left: 0;
        width: 15px;
        height: 15px;
      }

      > a {
        color: $color-link;
      }
    }
  }
}

//////////////////////
// PatternLab Specific
//////////////////////
.pl-wrapper {
  @include add-grid(12);

  .js-toc-source {
    @include grid-span(9);
  }
}

.toc-demo__wrapper {
  @include grid-span(3, 10);
}
