header.site-header {
  @include leader(-1);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include small {
    @include leader(-2);
  }

  @include breakpoint($main-menu-medium) {
    margin-top: 0;

    &.site-header--not-front {
      @include trailing-border(5px, 0);
      @include trailer(2);

      border-color: $color-border;
    }
  }

  .site-branding {
    flex-grow: 1;
    margin-right: 2rem;
    margin-top: 0.5rem;

    @include breakpoint($main-menu-medium) {
      margin-top: 0;
    }
  }
}
