<div class="component component__image">
  {{ content.contextual_links }}
  {% include "@atoms/04-images/00-image/image.twig" with {
    "img_src": img_src,
    "img_alt": img_alt,
    "img_caption": img_caption,
  } %}
</div>
