.partnership-branding {
  @include full-width;

  background: lighten($color-bg-body, 1%);
  border-top:1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;

  @include medium {
    @include trailer(1);
  }

  @include large {
    @include trailer(2);
  }

  .footer & {
    background: transparent;
    border: none;
  }

  &__wrapper {
    @include wrapper;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .footer & {
      @include trailer(1);

      justify-content: center;
    }
  }
}

.partnership-branding__box {
  @include type-scale(xs);

  width: 100%;
  background: $gray-lighter;
  display: flex;
  align-items: center;

  @include medium {
    flex: 1;
    width: 33%;
  }

  p {
    margin: 0;
    padding: 1em 2em;
    line-height: 1.2;
    text-align: center;

    @include large {
      padding: 4em 3em;
    }
  }

  .partnership-branding__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo__link {
    text-align: center;
  }

  .logo__img {
    max-width: 70%;

    .footer & {
      max-width: 90%;
    }
  }

  $padding: 2vw 0;

  &--message {
    .footer & {
      display: none;
    }
  }

  .footer & {
    background: transparent;
    max-width: 275px;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0;
  }

  &--ilr {
    background: $color-branding--ilr;
    width: 50%;
    padding: $padding;
  }

  &--aspen {
    background: $color-branding--aspen;
    width: 50%;
    padding: $padding;

    .logo__img {
      max-width: 40%;

      .footer & {
        margin-top: -4px;
        max-width: 50%;
      }
    }
  }
}
