<div class="partnership-branding">
  <div class="partnership-branding__wrapper">
    <div class="partnership-branding__box partnership-branding__box--message">
      <p>The Gig Economy Data Hub is a partnership between the ILR School and the Future of Work Initiative</p>
    </div>
    <div class="partnership-branding__box partnership-branding__box--ilr">
      <div class="partnership-branding__logo">
        <a class="logo__link" href="https://www.ilr.cornell.edu">
          <img alt="The ILR School at Cornell University" class="logo__img" src="/themes/custom/freelance/images/svg/logo-ilr.svg" />
        </a>
      </div>
    </div>
    <div class="partnership-branding__box partnership-branding__box--aspen">
      <div class="partnership-branding__logo">
        <a class="logo__link" href="https://www.aspeninstitute.org/programs/future-of-work/">
          <img alt="Aspen Institute Future of Work Initiative" class="logo__img" src="/themes/custom/freelance/images/svg/logo-fow.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
