.views-exposed-form,
.bef-exposed-form {
  display: flex;
  flex-direction: column;

  label {
    @include heading-xs;

    padding: 0;

    @include medium {
      text-align: right;
    }
  }

  input {
    max-width: 100%;
  }

  .form-item:first-child {
    order: 1;
  }

  .form-actions {
    order: 2;

    @include trailer(1);
  }

  .form-item:nth-child(2n) {
    order: 3;
  }

  .button {
    @include button-alt;

    @include medium {
      float: right;
      margin-left: 1rem;
    }
  }

  a {
    color: $color-text;
    font-size: 0.8rem;
    display: block;

    @include medium {
      text-align: right;
    }
  }
}
