// A
.main-menu__link {
  @include heading-small;
  @include link($color-link--hover: white);

  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0;
  color: white;

  &:hover {
    background: lighten($color-mobile-nav-bg, 5%);
  }

  @include breakpoint($main-menu-medium) {
    display: inline-block;
    padding: 0 0.5em;
    color: $color-heading;

    &:hover {
      color: $color-heading-link--hover;
      text-decoration: none;
      background: white;
    }
  }
}

.sf-menu li {
  a {
    color: $color-link--alt;
    font-family: $font-heading;
    padding: 1em;
    text-decoration: none;

    &.sf-depth-1 {
      font-size: 1rem;
    }

    &.sf-depth-2 {
      @include sub-menu-link;

      border-bottom: 0;
    }
  }

  &.sf-clone-parent {
    a.sf-depth-1 {
      @include sub-menu-link;

      font-size: 0.9rem;
      border-bottom: 0;
    }
  }
}
