@mixin button($bg:$color-button, $color:$white, $hoverBg: $color-button--hover, $hoverColor: $white) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: 0.75rem 2.5rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: lowercase;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
  }
}

@mixin button-alt {
  text-transform: uppercase;
}

.button {
  @include button;

  &--alt {
    @include button;
    @include button-alt;
  }
}
