@mixin button($bg:$color-button, $color:$white, $hoverBg: $color-button--hover, $hoverColor: $white) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: 0.75rem 2.5rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
  }
}

@mixin button-alt {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  color: $color-button;
  font-size: 0.7rem;
  border: 1px solid $color-button;

  &:hover {
    color: $white;
    background-color: $color-button;
  }
}

.button {
  @include button;

  &--alt {
    @include button;
    @include button-alt;
  }
}
