/// Link
@mixin link ($color: $color-link, $color-link--hover: $color-link--hover) {
  color: $color;
  text-decoration: underline;

  &.active,
  &:active,
  &:hover {
    color: $color-link--hover;
  }
}

@mixin link-alt {
  color: $color-link--alt;

  &:hover {
    color: $color-link--alt-hover;
  }
}

.link {
  @include link;

  &--alt {
    @include link-alt;
  }
}

a {
  @include link;
}

.bef-links {
  a {
    text-transform: capitalize;
    position: relative;

    &.bef-link-active {
      @include link-alt;

      &::before {
        content: url(/themes/custom/freelance/images/svg/hex--vertical.svg);
        display: inline-block;
        color: $color-link;
        position: absolute;
        top: 1px;
        right: -25px;
        width: 15px;
        height: 15px;
      }
    }
  }
}
