ul,
ol {
  padding-left: 1em;
  // margin-left: 2rem;
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
}

ol {
  list-style-type: decimal;
}

.list-item {
  margin-bottom: 0.2em;
  padding-left: 1em;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  ol,
  ul {
    li {
      @extend .list-item;
    }
  }
}

.bef-links li {
  list-style-type: none;
}
