.post {
  @include add-grid(12);
  @include clearfix;

  padding: 0 1rem;

  @include large {
    padding: 0;
  }
}

.post__title {
  @include heading-xl;
}

.post__subtitle {
  @include heading-medium;

  color: $color-heading--alt;
}

.post__media-wrapper {
  @include large {
    @include grid-span(9);

    clear: left;
  }
}

.post__image {
  @include trailer(1);

  @include large {
    margin-left: -2rem;
  }

  .img {
    @include fill-parent;
  }
}

.post__author {
  @include type-scale(xs);
  @include trailer(0.2);
}

.post__date {
  @include trailer(1);
  @include type-scale(xs);
}

.post__body .component,
.post__title,
.post__subtitle,
.post__author,
.post__date {
  @include large {
    @include grid-span(9);

    clear: left;
  }
}

.post__sidebar {
  @include large {
    @include grid-span(3, 10);
  }
}

.post__body {
  .component__selected-content--list {
    @include large {
      @include grid-span(3, 10);

      clear: right;
    }
  }

  .component__teaser-list {
    margin-left: 0;
    width: 100%;

    @include large {
      padding: 0;
    }

    &__title {
      color: $color-heading;
      width: 100%;
    }

    .content-teaser__title {
      @include heading-small;
      @include alt-heading;
    }

    .content-teaser__date,
    .content-teaser__body {
      display: none;
    }

    .content-teaser__image {
      @include clearfix;

      .content-teaser__img {
        @include trailer(0.5);

        width: 100%;
      }
    }

    .content-teaser__link {
      @include trailer(0.5);
      @include type-scale(xs);

      width: 100%;
      float: left;
    }
  }
}
