.post {
  @include add-grid(12);
  @include clearfix;
}

.post__title {
  @include heading-xl;
}

.post__subtitle {
  @include heading-medium;

  color: $color-heading--alt;
}

.post__image {
  @include trailer(1);

  @include large {
    margin-left: -2rem;
  }

  .img {
    @include fill-parent;
  }
}

.post__author {
  @include type-scale(xs);
  @include trailer(0.2);
}

.post__date {
  @include trailer(1);
  @include type-scale(xs);
}

.post__body {
  position: relative;

  .component__selected-content--list,
  .views-element-container { // This is the views wrapper for tagged_content
    @include large { // Create a content column off to the right
      position: absolute;
      width: 29%;
      left: -35%;
    }

    .content-teaser__image {
      display: none;

      @include large {
        display: block;
      }
    }
  }

  .component__teaser-list {
    margin-left: 0;
    width: 100%;

    @include large {
      padding: 0;
    }

    &__title {
      color: $color-heading;
      width: 100%;
    }

    .content-teaser__title {
      @include heading-small;
      @include alt-heading;
    }

    .content-teaser__date,
    .content-teaser__body {
      display: none;
    }

    .content-teaser__image {
      @include clearfix;

      .content-teaser__img {
        @include trailer(0.5);

        width: 100%;
      }
    }

    .content-teaser__link {
      @include trailer(0.5);
      @include type-scale(xs);

      width: 100%;
      float: left;
    }
  }
}
