.post {
  @include add-grid(12);
  @include trailer(2);
  @include clearfix;

  @include large {
    @include trailer(3);
  }
}

.post__title {
  @include heading-xl;
}

.post__subtitle {
  @include heading-medium;

  color: $color-heading--alt;
}

.post__media-wrapper {
  @include large {
    @include grid-span(9);

    clear: left;
  }
}

.post__image {
  @include trailer(1);

  @include large {
    margin-left: -2rem;
  }

  .img {
    @include fill-parent;
  }
}

.post__date {
  @include trailer(1);
}

.post__body,
.post__title,
.post__subtitle,
.post__date {
  @include large {
    @include grid-span(9);

    clear: left;
  }
}

.post__body {
  .paragraph__image {
    @include large {
      @include clearfix;
      @include trailer(2);

      margin-left: -2rem;
    }

    .img {
      @include fill-parent;
    }
  }

  .paragraph__text,
  .paragraph__selected-content {
    @include grid-span(12);
  }
}
