.info-box {
  @include padding-leader(3);
  @include padding-trailer(4);

  background-color: $color-info-box;
  width: 100%;
}

.info-box__title {
  @include heading-medium($font-size: 0.9rem, $font-family: $font-body);

  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.info-box__link {
  @include link(white, white);
}

.info-box__body {
  @include heading-large($color: white, $font-weight: normal);

  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}
