.info-box {
  @include padding-leader(3);
  @include padding-trailer(4);

  background-color: $color-info-box;
  width: 100%;
}

.info-box__title {
  @include heading-xs($font-family: $font-body);
  @include alt-heading;
  @include trailer(0.5);

  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.info-box__link {
  @include link(white, white);
}

.info-box__body {
  @include heading-medium($color: white, $font-weight: normal);

  text-align: center;
  margin: 0 auto;
  max-width: 80%;

  @include large {
    max-width: 50%;
  }
}
