.component__info-box {
  @include padding-leader(1);
  @include padding-trailer(0.5);
  @include trailer(2);

  @include medium {
    padding: $space-double 0 $space;
  }

  @include large {
    padding: $space-triple 0 $space-double;
  }

  background-color: $color-info-box;
  width: 100%;

  &__title {
    @include heading-xs($font-family: $font-body, $color: white);
    @include trailer(0.5);

    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  &__body {
    @include heading-xs($color: white, $font-weight: normal);

    @include medium {
      @include type-scale(small);
    }

    @include large {
      @include type-scale(medium);
    }

    text-align: center;
    margin: 0 auto;
    max-width: 80%;

    @include large {
      max-width: 50%;
    }
  }
}
