.data-source-grid {
  .data-source-teaser__wrapper {
    &:nth-of-type(3n+2) {
      margin: 0 1%;
    }

    &:nth-of-type(6n+4) {
      margin-left: 0.5%;
    }

    &:nth-of-type(6n+4),
    &:nth-of-type(6n+5),
    &:nth-of-type(6n+6) {
      margin-top: -6.9285714285%;
      margin-bottom: -6.9285714285%;
      transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
  }
}
